<div class="post">
    <!-- Author Info -->

    <div class="post-header">
        <!-- Add a default profile pic or use Gravatar -->
        <% if(post.author) { %>
        <h3>
            <a href="/users/<%= post.author._id %>/profile"
                ><%= post.author.username %></a
            >
        </h3>
        <% } else { %>
        <h3>Deleted</h3>
        <% } %>
        <span class="post-date"
            ><%= new Date(post.createdAt).toLocaleString() %></span
        >
        <!-- The above will format the date and time nicely -->
    </div>
    <!-- Post Content -->
    <div class="post-content">
        <p><%= post.content %></p>
    </div>

    <!-- Post Interactions (Like, Comment) -->
    <div class="post-interactions">
        <span class="like-action">
            <form action="/posts/<%= post._id %>/like" method="POST">
                <button
                    type="submit"
                    class="likes-button <%= post.userHasLiked ? ' liked' : '' %>"
                >
                    <%= post.likesCount %> Likes
                </button>
            </form>
        </span>
        <a href="/posts/<%= post._id %>">
            <span class="comments"> Comments </span>
        </a>

        <% if(user && post.author && user.id == post.author._id) { %>
        <span class="delete-action">
            <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                <button type="submit" class="delete-btn">Delete</button>
            </form>
        </span>
        <% } %>
    </div>
</div>
