<!-- Include the base layout -->
<% layout("layout/boilerplate") %> 

<!-- Include the search form partial -->
<%- include("../partials/searchPartials/searchForm.ejs") %> 

<!-- Check if searchType is defined to show search results heading -->
<% if (typeof searchType !== 'undefined') { %>
    <h3>Showing Results for '<%= query %>' in <%= searchType %></h3>
<% } %>

<!-- Section for Displaying Search Results -->
<section class="search-results">
    <% if (typeof results !== 'undefined') { %>
            <!-- Check if there are results to display -->
             <% if (results && results.length > 0) { %> 
                    <!-- Display posts if searchType is 'posts' -->
                    <% if (searchType === "posts") { %> 
                        <% results.forEach(post => { %> 
                            <%-include("../partials/postPartials/postCard", { post: post }) %> 
                    <% }) %> 

                    <!-- Display users if searchType is 'users' -->
                    <% } else if (searchType === "users") { %> 
                    <% results.forEach(user => { %>
                        <div><a href="/accounts/<%= user._id %>/profile"><%= user.username %></a></div> <% }) %> <% } %> 
                <% } else { %>
                <!-- Message if no results found -->
                <p>No results found for '<%= query %>'</p>
                <% } %>
    <% } %>
</section>
